<!DOCTYPE html>
<html>
  <head>
    <title>Dribble</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/dribble.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id="root"></div>
    <script src="/static/vendor.js"></script>
    <script src="/static/dribble.js"></script>
  </body>
</html>
